@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Welcome, @User.Identity?.Name!</h2>
    <h3>You are logged in, claims listed below</h3>

    <ul>
        @foreach (var modelClaim in User.Claims)
        {
            <li>@modelClaim</li>
        }
    </ul>

    <hr/>

    <a href="https://login.microsoftonline.com/common/oauth2/v2.0/logout?post_logout_redirect_uri=@Url.PageLink("Index", "Logout")">
        Logout
    </a>
}
else
{
    <p>You are not logged in, try access one of the links in the top menu.</p>
}